/.vscode
/Analytics.py
/BANK PERFORMANCE
/bank_acc.py
/cohort_analysis.sql
/contoso_100k.session.sql
/exception.py
/jupyter
/lesson 01
/lesson 10
/lesson 12
/lesson 14
/lesson 15
/lesson7
/lesson8
/lesson9
/OOP
/oop_project.py
/pp
/__pycache__